@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --maximum-width: calc(100% - 20px);
  --nav-height: 40px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 5px 10px;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav, .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
  }
}

.nav-filler {
  height: var(--nav-height);
}

.nav {
  position: fixed;
  top: 0;
  height: var(--nav-height);
  min-width: var(--maximum-width);
  z-index: 2;
}

.footer {
  position: fixed;
  min-width: var(--maximum-width);
  bottom: 0;
  padding-bottom: 100px;
  z-index: 2;
}

.test {
  height: 50vh;
  border: 1px solid;
}