@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --maximum-width: calc(100% - 20px);
  --nav-height: 40px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 5px 10px;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav, .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
  }
}

.nav-filler {
  height: var(--nav-height);
}

.nav {
  position: fixed;
  top: 0;
  height: var(--nav-height);
  min-width: var(--maximum-width);
  z-index: 2;
  border-bottom: 1px solid grey;
}

.nav-item {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -4px;
    left: 0;
    background: linear-gradient(to right, #6366f1, #38bdf8);
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}


.footer {
  position: fixed;
  min-width: var(--maximum-width);
  bottom: 0;
  padding-bottom: 10px;
  z-index: 2;
}

.container {
  display: flex;
  align-items: center;
  min-width: 100%;
  gap: 100px;
  padding: 10px 50px;
}

.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, limegreen, silver);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 20px;
  font-weight: 500;
}

.item-btn {
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(to right, black, gray);

  &:hover {
    box-shadow: 2px 2px 2px whitesmoke;
    cursor: pointer;
  }
}

.img {
  width: 100%;
  object-fit: cover;
}