.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5px 15%;
}

.imgContainer {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 4;
    width: 100%;
}

.txtContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;

    & div {
        flex: 1 1 45%;
        max-width: 50%;
    }

    & div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 30px;

        & button {
            width: fit-content;
        }
    }
}

